---
---
@charset 'utf-8';
// see https://fonts.google.com/
@import 'https://fonts.googleapis.com/css?family=Lato|Sorts+Mill+Goudy';

$black: #000;
$break-small: 500px;
%gray { color: lighten($black, 50); }

.gray { @extend %gray; }

%center { text-align: center; }

.center { @extend %center; }

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

body {
  @media screen and (max-width: $break-small) {
    		padding: 1em;
  	}
	 @media screen and (min-width: $break-small) {
    		padding: 2em;
  	}
}

strong {
	font-weight: 500;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 640px;
}

header {
  @extend %center;

  input {
    border: 1px solid $black;
    max-width: 100%;
    padding: .2em .6em;
  }

  .photo {
    height: 100px;
    width: 100px;
  }

  form,
  nav {
    margin: .4em 0;
  }

  ul li {
    display: inline;
    margin-right: .4em;
  }
}

article {
  margin: 4em 0;
  h1 {
    font-size: 1.8em;
    font-weight: bold;
	@media screen and (max-width: $break-small) {
    		line-height: 1.1em;
  	}
	@media screen and (min-width: $break-small) {
    		line-height: 1.2em;
  	}
  }

  h2 {
    font-size: 1.4em;
    font-weight: bold;
  }
  h1,
  h2,
  h3,
  ul,
  ol {
    margin-bottom: .5em;
    margin-top: .5em;
  }
  h1,
  h2,
  h3 {
	font-family: 'Lato', sans-serif;
  }
 p {
	 margin-bottom: .8em;
	 margin-top: .5em;
	 line-height:1.4;
 }
  ul,
  ol {
    margin-left: 3em;
  }
}

footer {
  @extend %gray;
  @extend %center;
  font-size: .8em;
}

code {
  background-color: lighten($black, 90);
  border-radius: .2em;
  font-family: monospace;
  padding: .1em .2em;
}

.disqus {
  margin: 4em 0;
}
figure {
	margin: 0;
    position: relative;
}
.right {
	float:right;
	clear:both;
}
figure img {
	max-width:100%;
}
figure figcaption {
	background-color: #333;
    bottom: 1em;
    color: #888;
    font-size: .7em;
    left: .5em;
    line-height: 1em;
    max-width: 90%;
    position: absolute;
	padding:.3em .3em 0 .3em;
}
hr {
	border: 0;
    height: 2px;
    background: #eee;
    background-image: linear-gradient(to right, #eee, #ddd, #eee);
	width:80%;
	margin: 40px auto;
}
