---
---
@charset 'utf-8';
// see https://fonts.google.com/
@import 'https://fonts.googleapis.com/css?family=Halant:400,500';

$black: #000;

%gray { color: lighten($black, 50); }

.gray { @extend %gray; }

%center { text-align: center; }

.center { @extend %center; }

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Halant', serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  padding: 2em;
}

strong {
	font-weight: 500;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 640px;
}

header {
  @extend %center;

  input {
    border: 1px solid $black;
    max-width: 100%;
    padding: .2em .6em;
  }

  .photo {
    height: 100px;
    width: 100px;
  }

  form,
  nav {
    margin: .4em 0;
  }

  ul li {
    display: inline;
    margin-right: .4em;
  }
}

article {
  margin: 4em 0;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
	line-height: 1em;
  }

  h2 {
    font-size: 1.4em;
    font-weight: bold;
  }

  p,
  h1,
  h2,
  h3,
  ul,
  ol {
    margin-bottom: .5em;
    margin-top: .5em;
  }

  ul,
  ol {
    margin-left: 3em;
  }
}

footer {
  @extend %gray;
  @extend %center;
  font-size: .8em;
}

code {
  background-color: lighten($black, 90);
  border-radius: .2em;
  font-family: monospace;
  padding: .1em .2em;
}

.disqus {
  margin: 4em 0;
}
figure {
	margin: 0;
    position: relative;
}
figure img {
	max-width:100%;
}
figure figcaption {
	background-color: #333;
    bottom: 1em;
    color: #888;
    font-size: .7em;
    left: .5em;
    line-height: 1em;
    max-width: 90%;
    position: absolute;
	padding:.3em .3em 0 .3em;
}
