---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"
  itemscope="" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <section>
      <header>
        <a href="/about.html">
          <img src="/images/owl-thumb.gif" class="photo" alt="Owl" itemprop="image"/>
        </a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="https://twitter.com/intent/follow?screen_name=mrlukenathaniel">Twitter</a></li>
            <!--<li><a href="{{ "/rss.xml" | prepend: site.baseurl }}">RSS</a></li>-->
            <li><a href="mailto:me@lukenathaniel.com">me@lukenathaniel.com</a></li>
          </ul>
        </nav>
        <!--<form method="get" action="https://www.google.com/search">
          <input name="sitesearch" value="bloghacks.yegor256.com" type="hidden"/>
          <input type="text" name="q" placeholder="Search" autocomplete="off" size="30"/>
        </form>-->
      </header>
      {{ content }}
      <footer>
        (c)
        <span itemscope="" itemtype="http://schema.org/Person">
          <span itemprop="name">Luke Nathaniel Smith</span>
        </span>
        <br/>
        2017
      </footer>
    </section>
    <!-- Were I tracking UA, it'd go here -->
  </body>
</html>
